
#ui-dialog-body.dialog-fullwidth {
  width: min(66em, calc(100vw - 32px));
}

#ui-dialog-body.dialog-fullheight {
  /* 100% screen height - (16*2 dialog top/bottom + 36 titlebar + 2 border)
   * plus some additional margin
   */
  height: calc(100vh - 96px);
}


.dialog-buttons {
  display: flex;
  justify-content: flex-end;
}
.dialog-buttons > * + * {
  margin-left: 8px;
}



/** Unit Image (preview) dialog */

.dialog-unitimage img {
  max-width: 100%;
  max-height: 88vh;
}

.dialog-unitimage .artistinfo {
  display: block;
  text-align: center;
}



/** Unit Image Picker dialog */

.dialog-imagepicker-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 16px;
  height: 100%;
}

.dialog-imagepicker-container button + button {
  margin-left: 8px;
}

.dialog-imagepicker-container > header {
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
}

.dialog-imagepicker-container:not(.mode-packs) .thumbnails {
  display: none;
}
.dialog-imagepicker-container:not(.mode-custom) .custom {
  display: none;
}


.dialog-imagepicker .thumbnails {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
  align-content: start;
  justify-items: center;
  gap: 8px;
  padding: 4px 0;
  overflow-y: auto;
}
.dialog-imagepicker .thumbnails > * {
  width: 128px;
  height: 128px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid transparent;
  overflow-y: auto;
  margin-right: 1em;
  cursor: pointer;
}
.dialog-imagepicker .thumbnails > *.disabled {
  border-color: #ad0000;
  background-color: #660000;
}

.dialog-imagepicker .thumbnails > *.selected {
  outline: 2px solid yellow;
}


.dialog-imagepicker-preview {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr auto;
  gap: 16px;
}
.dialog-imagepicker-preview figure {
  display: grid;
  grid-template-rows: 1fr auto;
  margin: 0;
  text-align: center;
}
.dialog-imagepicker-preview figure > div {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
