
.duty-image {
  position: relative;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;

  margin: 1px;

  width: 24px;
  height: 24px;

  background-color: gray;
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.duty-image::before {
  content: '';
  display: inline-block;
  position: absolute;
  
  width: 20px;
  height: 20px;
  left: 2px;
  top: 2px;
  z-index: -1;

  background-color: darkgray;
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.duty-image img {
  width: 22px;
  height: 22px;
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.duty-image.big {
  width: 30px;
  height: 30px;
}
.duty-image.big::before {
  width: 26px;
  height: 26px;
}
.duty-image.big img {
  width: 28px;
  height: 28px;
}

.duty-image-slaver {
  background-color: #F57C00;
}
.duty-image-slaver::before {
  background-color: #f1c69e;
}

.duty-image-slave {
  background-color: #7B1FA2;
}
.duty-image-slave::before {
  background-color: #f8bbef;
}
