
/* Equipment Grid */

.equipmentgrid .empty-slot img {
  opacity: 0.4;
}

.equipmentgrid {
  display: grid;
  grid-template-columns: 1fr [end];
  grid-auto-flow: row dense;
  margin-top: 8px;
}

@media (min-width: 768px) {
  .equipmentgrid {
    grid-template-columns: 1fr 1fr [end];
  }
}

@media (min-width: 1200px) {
  .equipmentgrid {
    grid-template-columns: 1fr 1fr 1fr [end];
  }
}

.equipmentgrid img {
  margin-right: 4px;
}

.equipmentgrid .equipmentgrid-fullrow {
  grid-column: 1 / span end;
}

.equipmentgrid .equipmentgrid-attachable {
  display: inline-block;
  padding: 0 8px;
  border-radius: 8px;
  border: 1px solid gray;
}
