/**
 *  Structure:
 *  <table class='fortgrid-table'>
 *  <tbody>
 *  <tr>
 *  <td>
 *  <div class='tile-outdoors/tile-indoors'>
 *  <img src='...'>
 *  </div>
 *  </td>
 *  </tr>
 *  </tbody>
 *  </table>
 */

.fortgrid-table td,
.fortgrid-table tr {
  padding: 0px;
  margin: 0px;
}

.fortgrid-table>tbody>tr>td {
  position: relative;
}

.tile-main-image {
  position: absolute;
  z-index: 3;
}

.tile-extra-wall {
  position: absolute;
  z-index: 2;
}

.tile-path {
  position: absolute;
  z-index: 1;
}

.tile-path img {
  vertical-align: top !important;
}

.tile-caption {
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: black;
  font-size: x-small;
  z-index: 5;
}

.tile-caption-bottom {
  position: absolute;
  bottom: 2px;
  left: 2px;
  background-color: black;
  font-size: x-small;
  z-index: 5;
}

.tile-caption-bottom .trait img {
  width: 12px !important;
  height: 12px !important;
}

.fortgrid-table td:hover:not(.fortgrid-expansion):not(.fortgrid-highlight) {
  background-color: blue;
}

.fortgrid-table td:hover:not(.fortgrid-expansion)>:not(.activity-unit-container),
.fortgrid-highlight>:not(.activity-unit-container) {
  opacity: .5;
}

.fortgrid-table .fortgrid-invalid:not(.fortgrid-expansion) {
  background-color: red;
}

.fortgrid-table .fortgrid-valid:not(.fortgrid-expansion) {
  background-color: rgb(51, 255, 0);
}

.fortgrid-table .fortgrid-invalid-entrance:not(.fortgrid-expansion) {
  background-color: rgb(255, 0, 200);
}

.fortgrid-table .fortgrid-valid-entrance:not(.fortgrid-expansion) {
  background-color: rgb(0, 102, 128);
}

.fortgrid-table .fortgrid-path {
  background-color: yellow;
}

.fortgrid-table .fortgrid-neighbor {
  background-color: purple;
}

.fortgrid-expansion>div {
  text-align: center;
}

.tile-type-structural {
  background: #a5a5a5;
}

.tile-type-accomodation {
  background: #fff282;
}

.tile-type-hiring {
  background: #7cb9ff;
}

.tile-type-office {
  background: #ffb07b;
}

.tile-type-scout {
  background: #73e983;
}

.tile-type-storage {
  background: #83fff5;
}

.tile-type-training {
  background: #d67fff;
}

.tile-type-recreation {
  background: #c2adc4;
}

.tile-type-heal {
  background: #ff8ccb;
}

.tile-type-corruption {
  background: #9881ff;
}

.tile-type-purification {
  background: #cca5b2;
}

.tile-type-biolab {
  background: #e2ffb3;
}

.tile-type-decoration {
  background: #a1ff89;
}

.tile-type-misc {
  background: #6182c2;
}