figure.unitimagehalf {
  width: 45%;
  float: right;
}

figcaption.unitimagehalf {
  caption-side: bottom;
}

figure.unitimagefull {
  display: table;
}

figcaption.unitimagefull {
  display: table-caption;
  caption-side: bottom;
}

figure>image {
  margin: auto;
}

.content-image-figure {
  float: right;
  max-width: 45%;
}

.content-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.artistinfo {
  font-size: small;
  opacity: 0.8;
}

.authorinfo {
  float: right;
  font-size: small;
  opacity: 0.8;
  text-align: right;

  padding: 2px 6px;
  border: 2px outset #00039c;
  border-radius: 5px;
  overflow: hidden;
  background-color: #080050;
}