.moneyspan {
  font-weight: bold;
  font-family: "Lucida Sans Typewriter"
}

.moneyspanplus {
  color: greenyellow;
}

.moneyspanmin {
  color: red;
}

.prestigespan {
  font-weight: bold;
  font-family: "Lucida Sans Typewriter";
}

.expspan {
  color: #e6a1ff;
}

.prestigespanplus {
  color: #a4a7ff;
}

.levelspan {
  font-weight: bold;
}

.namespan {
  font-weight: bold;
}

.prestigespanmin {
  color: red;
}

.dangertext {
  color: red;
  font-weight: bold;
}

.dangertextlite {
  color: red;
}

.successtext {
  color: lightgreen;
  font-weight: bold;
}

.successtextlite {
  color: lightgreen;
}

.infotext {
  color: lightblue;
  font-weight: bold;
}

.infotextlite {
  color: lightblue;
}

.friendshipspanplus {
  color: greenyellow;
}

.friendshipspanmin {
  color: tomato;
}