@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

.rep {
  display: inline-block;
  /* prevent line break between e.g. icons and name */
}

.replink:not(:hover) {
  color: inherit;
  text-decoration: underline 1px dotted #68d;
}

.text-subrace_humankingdom {
  font-weight: bold;
}

.text-subrace_humanvale {
  font-family: 'Averia Serif Libre', cursive;
}

.text-subrace_humandesert {
  font-family: 'Yatra One', cursive;
}

.text-subrace_humansea {
  font-family: 'Yeseva One', cursive;
}

.text-subrace_angel {
  font-family: 'Berkshire Swash', cursive;
}

.text-subrace_werewolf {
  font-family: 'Reggae One', cursive;
}

.text-subrace_elf {
  font-family: 'Cherry Swash', cursive;
  font-weight: bold;
  letter-spacing: 1px;
}

.text-subrace_drow {
  font-family: 'Simonetta', cursive;
}

.text-subrace_fairy {
  font-family: 'Griffy', cursive;
  font-weight: bold;
  letter-spacing: 1px;
}

.text-subrace_neko {
  font-family: 'Bubblegum Sans', cursive;
  letter-spacing: 1px;
}

.text-subrace_tigerkin {
  font-family: 'New Rocker', cursive;
}

.text-subrace_orc {
  font-family: 'Chelsea Market', cursive;
  letter-spacing: 1px;
}

.text-subrace_kobold {
  font-family: 'Alegreya Sans SC', cursive;
}

.text-subrace_lizardkin {
  font-family: 'Metal Mania', cursive;
  letter-spacing: 1px;
}

.text-subrace_dragonkin {
  font-family: 'Girassol', cursive;
  font-weight: bold;
  display: inline-block;
  letter-spacing: 1px;
}

.text-subrace_demonkin {
  font-family: 'Emilys Candy', cursive;
  font-weight: bold;
  letter-spacing: 1px;
}

.text-subrace_demon {
  font-family: 'Rye', cursive;
}

.rep-slaver-male {
  color: rgb(181, 192, 255) !important;
}

.rep-slaver-female {
  color: rgb(255, 190, 190) !important;
}

.rep-slave {
  color: rgb(255, 251, 188) !important;
}

.rep-unemployed {
  color: rgb(201, 255, 199) !important;
}

.rep-retired {
  color: rgb(180, 180, 180) !important;
}