.passage {
	transition-property: none;
}

.hiddendiv {
  display: none;
}

.toprightspan {
  float:right;
  text-align: right;
}

.game-banner {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
