
/** '.tooltip' class is automatically added to the 
  * tooltip content container created by the 'tooltip' macro
  */
  
.tooltip > header > * {
  vertical-align: middle;
}

.tooltip > header {
  margin-bottom: 4px;
}

.tooltip > header * + b {
  margin-left: 6px;
}

.tooltip > div + div {
  margin-top: 4px;
}
